html, body, #top {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}

div {
	display: flex;
	dbackground-color: #00000080;
}

input {
	outline: none;
}

input[type="color"] {
	padding: 0px;
	width: 20px;
	height: 20px;
	border: 1px solid #767676;
	border-radius: 0px;
	background-color: transparent;
}

input[type="color"]::-webkit-color-swatch-wrapper,
input[type="color"]::-webkit-color-swatch {
	border: none;
	padding: 0px;
	border-radius: 0px;
	background-color: transparent;
}

input[type="color"]::-moz-color-swatch {
	border: none;
	padding: 0px;
	border-radius: 0px;
	background-color: transparent;
}

#top {
	display: flex;
	flex-direction: column;
}

#main {
	display: flex;
	flex-direction: row;
	flex: 1 0 auto;
	height: 20px;
	background-color: #505050;
}

#main > div {
	hdeight: 100vh;
}

#tree {
	min-width: 10vw;
	width: 20vw;
	overflow: hidden scroll;
}

#sketch {
	min-width: 20vw;
	flex: 1 1 0%;
	cursor: crosshair;
}

#sketch.move {
	cursor: move;
}

#sketch.dragging {
	cursor: grabbing;
}

#properties {
	min-width: 10vw;
	width: 20vw;
	overflow: hidden scroll;
	user-select: none;
}

#toolbar {
	min-height: 50px;
	height: 10vh;
	max-height: 120px;
	background-color: #484848;
	align-items: center;
	justify-content: center;
	--item-size:
	calc(10vh - 20px);
	--item-size-min:
	calc(50px - 20px);
	--item-size-max:
	calc(120px - 20px);
	user-select: none;
}

.toolbar-tool {
	width: var(--item-size);
	min-width: var(--item-size-min);
	max-width: var(--item-size-max);
	height: var(--item-size);
	min-height: var(--item-size-min);
	max-height: var(--item-size-max);
	align-items: center;
	justify-content: center;
	margin: 10px;
	border-radius: 5px;
	cursor: pointer;
	color: white;
	font-weight: bold;
}

.toolbar-tool:hover, .toolbar-tool.selected {
	background: #00000040;
}

#tree {
	flex-direction: column;
	color: white;
}

.tree-elem {
	flex-direction: column;
	cursor: grab;
}

.tree-elem:active {
	cursor: grabbing;
}

.tree-elem-head {
	flex-direction: row;
	padding: 2px 5px 2px 5px;
	user-select: none;
}

.tree-elem-caret {
	padding: 0px 5px 0px 5px;
	cursor: pointer;
	transform: rotate(90deg);
}

.tree-elem.collapsed .tree-elem-caret {
	transform: rotate(0deg);
}

.tree-group-children {
	flex-direction: column;
	padding-left: 20px;
}

.tree-elem.collapsed .tree-group-children {
	display: none;
}

#properties {
	color: white;
	padding: 10px;
	flex-direction: column;
}

#properties-head {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.4rem;
}

.property {
	flex-direction: row;
	align-items: center;
}

.property-label {
	padding: 2px;
}

.property-value {

}

.property-point {

}

.property-number {

}

.property-number .property-value {
	width: 50px;
	box-sizing: content-box;
}

@supports (scrollbar-width: auto) {
	* {
		scrollbar-color: #303030 transparent;
		scrollbar-width: auto;
	}
}

::-webkit-scrollbar {
	background-color: transparent;
	width: 16px;
}

::-webkit-scrollbar-thumb {
	background-color: #303030;
	border: 4px solid transparent;
	border-radius: 10px;
  background-clip: padding-box;
}
